// ABSTRACTS
@use 'abstracts/variables';
@use 'abstracts/functions';
@use 'abstracts/mixins';

// BASE
@use 'base/reset';
@use 'base/typography';
@use 'base/base';
@use 'base/animations';
@use 'base/utilities';
@use 'base/print';

// LAYOUT
@use 'layout/header';
@use 'layout/footer';


// COMPONENTS
@use 'components/button';
@use 'components/search-bar'; // Новий файл
@use 'components/card';       // Новий файл

// PAGES
@use 'pages/home';
@use 'pages/recipes'; 
@use 'pages/favorites';
@use 'pages/recipe';
