<header class="site-header">
  <div class="header-inner">
    <a href="/" class="logo" data-i18n="layout.logoText">FOAI</a>

    <nav class="main-nav" aria-label="Main navigation">
      <ul>
        <li><a href="/" data-i18n="nav.home">Home</a></li>
        <li><a href="/recipes" data-i18n="nav.recipes">Recipes</a></li>
        <li><a href="/favorites" data-i18n="nav.favorites">Favorites</a></li>
      </ul>
    </nav>

    <div class="auth-controls">
	<a href="/registration?mode=signin" data-i18n="nav.signIn">Sign in</a>
	<a href="/registration?mode=signup" data-i18n="nav.signUp">Sign up</a>

	<span class="user-greeting" data-i18n="nav.greeting">
		Hello, Olena!
	</span>
</div>

  </div>
</header>
