<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FOAI</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/main.css">

<!-- 1. Бібліотека axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- 2. Базовий HTTP-клієнт -->
<script src="/js/api/http.js"></script>

<!-- 3. Сервіси, які використовують window.http -->
<script src="/js/services/UserService.js"></script>
<script src="/js/services/RecipeService.js"></script>

<!-- 4. Скрипти з логікою UI (можуть бути з defer) -->
<script src="/js/auth.js" defer></script>
<script src="/js/header.js" defer></script>
