<article
	class="recipe-card"
	itemscope
	itemtype="https://schema.org/Recipe"
>
	<a href="/recipe" class="recipe-card__image-link">
		<picture>
			<source srcset="/img/recipe-card.png" media="(max-width: 600px)">
			<img
				src="/img/recipe-card.png"
				alt="Cozy herb chicken pasta in a bowl"
				itemprop="image"
			>
		</picture>
	</a>

	<h2 class="recipe-card__title" itemprop="name" data-i18n="recipes.sampleName">
		Cozy Herb Chicken Pasta
	</h2>

	<div class="recipe-card__meta">
		<span
			class="recipe-card__time"
			itemprop="totalTime"
			content="PT25M"
		>
			25 min
		</span>
		<span class="recipe-card__calories" itemprop="calories">
			520 kcal
		</span>
	</div>

	<a
		href="/recipe"
		class="recipe-card__button"
		data-i18n="recipes.viewDetails"
	>
		View details
	</a>
</article>
