@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.recipes-search {
  @include container;
  text-align: center;
  padding-block: rem(40) rem(20);

  h1 {
    @include heading(36);
    margin-bottom: rem(16);
    
    @media (min-width: $bp-lg) {
      @include heading(48);
    }
  }
}

.recipes-results {
  @include container;
  padding-bottom: rem(60);
}

.recipes-grid {
  @include row; 
  row-gap: rem(24);
}

.recipes-grid > .recipe-card {
  @include col(12);
  @include col(6, $bp-md);
  @include col(4, $bp-lg);
}

.recipes-empty {
  @include container;
  text-align: center;
  padding-block: rem(60);
  max-width: rem(500);
  margin-inline: auto;
  display: none; 

  p {
    font-size: rem(18);
    color: rgba($color-text-main, 0.6);
    line-height: 1.6;
  }
}

.recipes-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(20);
  
  margin-top: rem(40);
  padding-top: rem(30);
  border-top: 1px solid rgba($color-text-main, 0.1);

  .pagination-info {
    font-family: $font-main;
    font-weight: 600;
    font-size: rem(20);
    color: $color-text-main;
    min-width: rem(120);
    text-align: center;
  }

  @media (max-width: $bp-md) {
    gap: rem(10);
    
    .pagination-info {
      font-size: rem(16);
    }
  }
}