@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.site-footer {
  background-color: mix-colors($color-bg, $color-secondary, 70%);
  padding-block: rem(12);
  font-size: rem(13); // mobile значення, desktop задаємо в _typography
}

.site-footer nav ul {
  @include container;
  @include flex-center(rem(24), center, center);
  flex-wrap: wrap;
  text-align: center;
}

.site-footer a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/* Desktop – більше падінги, шрифт уже 20px із _typography */
@media (min-width: $bp-lg) {
  .site-footer {
    padding-block: rem(18);
  }
}
