@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

html {
  font-size: 16px;
}

body {
  font-family: $font-main;
  color: $color-text-main;
  background-color: $color-bg;
  line-height: 1.5;
  font-size: rem(15);
}

h1,
h2,
.heading-lg {
  font-family: $font-heading;
  color: $color-primary;
}

h1 {
  font-size: rem(32);  
}

h2 {
  font-size: rem(20); 
}

h3 {
  font-size: rem(18);
  font-weight: 600;
}

p {
  font-size: rem(15); 
}

strong {
  font-weight: 600;
}

@media (min-width: $bp-lg) {
  body {
    font-size: rem(24);    
  }

  h1 {
    font-size: rem(64);   
  }

  h2 {
    font-size: rem(36);   
  }

  h3 {
    font-size: rem(24);
  }

  p {
    font-size: rem(24);  
  }
}
