@use 'variables' as *;

// px - rem
@function rem($px, $base: 16) {
  @return ($px / $base) * 1rem;
}

// color mix wrapper
@function mix-colors($c1, $c2, $weight: 50%) {
  @return mix($c1, $c2, $weight);
}
