@use "sass:math";
@use 'variables' as *;
@use 'functions' as *;

@mixin container {
  width: min(100% - $container-padding-x * 2, $container-max-width);
  margin-inline: auto;
}

@mixin flex-center($gap: 0, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin heading($size, $weight: 700) {
  font-size: rem($size);
  font-weight: $weight;
  line-height: 1.2;
}

@mixin transition($args...) {
  transition: $args;
}

@mixin row($gap: $grid-gutter) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  
  margin-inline: math.div($gap, -2);
}

@mixin col($span, $bp: null) {
  box-sizing: border-box;
  flex: 0 0 auto;
  
  margin-inline: math.div($grid-gutter, 2);
  
  $percent: math.percentage(math.div($span, $grid-columns));
  $width: calc(#{$percent} - #{$grid-gutter});

  @if $bp {
    @media (min-width: $bp) {
      width: $width;
    }
  } @else {
    width: $width;
  }
}